body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
}
#u75_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:57px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:31px;
  width:214px;
  height:57px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:31px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u78 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u75_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:65px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:97px;
  width:229px;
  height:65px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:96px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:57px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:31px;
  width:214px;
  height:57px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:31px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u85 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u75_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:61px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:179px;
  width:214px;
  height:61px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:179px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:65px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:97px;
  width:229px;
  height:65px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:96px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:57px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:31px;
  width:214px;
  height:57px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:31px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u98 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u75_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:67px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:253px;
  width:229px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:252px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:61px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:179px;
  width:214px;
  height:61px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:179px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:65px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:97px;
  width:229px;
  height:65px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:96px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:57px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:31px;
  width:214px;
  height:57px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:31px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u115 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u75_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:95px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:342px;
  width:214px;
  height:95px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:342px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u122 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:67px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:253px;
  width:229px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:252px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:61px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:179px;
  width:214px;
  height:61px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:179px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:65px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:97px;
  width:229px;
  height:65px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:96px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:57px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:31px;
  width:214px;
  height:57px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u138 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:31px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u139 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.364705882352941);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  display:flex;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:574px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:28px;
  width:280px;
  height:574px;
  display:flex;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:144px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u143 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:209px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u144 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:275px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u145 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:340px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:405px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u147 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:68px;
  width:257px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u75.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
}
#u77.a {
  height:45px;
}
#u77_img.a {
  height:45px;
}
#u77.a {
  height:45px;
}
#u77_text.a {
}
#u77 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u78.a {
}
#u78_img.a {
}
#u78.a {
}
#u78_text.a {
}
#u78 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u81.a {
  height:46px;
}
#u81_img.a {
  height:46px;
}
#u81.a {
  height:46px;
}
#u81_text.a {
}
#u81 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u82.a {
}
#u82_img.a {
}
#u82.a {
}
#u82_text.a {
}
#u82 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u84.a {
  height:45px;
}
#u84_img.a {
  height:45px;
}
#u84.a {
  height:45px;
}
#u84_text.a {
}
#u84 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u85.a {
}
#u85_img.a {
}
#u85.a {
}
#u85_text.a {
}
#u85 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u90.a {
}
#u90_img.a {
}
#u90.a {
}
#u90_text.a {
}
#u90 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u91.a {
}
#u91_img.a {
}
#u91.a {
}
#u91_text.a {
}
#u91 .text.a {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u94.a {
  height:46px;
}
#u94_img.a {
  height:46px;
}
#u94.a {
  height:46px;
}
#u94_text.a {
}
#u94 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u95.a {
}
#u95_img.a {
}
#u95.a {
}
#u95_text.a {
}
#u95 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u97.a {
  height:45px;
}
#u97_img.a {
  height:45px;
}
#u97.a {
  height:45px;
}
#u97_text.a {
}
#u97 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u98.a {
}
#u98_img.a {
}
#u98.a {
}
#u98_text.a {
}
#u98 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u101.a {
  height:46px;
}
#u101_img.a {
  height:46px;
}
#u101.a {
  height:46px;
}
#u101_text.a {
}
#u101 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u102.a {
}
#u102_img.a {
}
#u102.a {
}
#u102_text.a {
}
#u102 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u107.a {
}
#u107_img.a {
}
#u107.a {
}
#u107_text.a {
}
#u107 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u108.a {
}
#u108_img.a {
}
#u108.a {
}
#u108_text.a {
}
#u108 .text.a {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u111.a {
  height:46px;
}
#u111_img.a {
  height:46px;
}
#u111.a {
  height:46px;
}
#u111_text.a {
}
#u111 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u112.a {
}
#u112_img.a {
}
#u112.a {
}
#u112_text.a {
}
#u112 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u114.a {
  height:45px;
}
#u114_img.a {
  height:45px;
}
#u114.a {
  height:45px;
}
#u114_text.a {
}
#u114 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u115.a {
}
#u115_img.a {
}
#u115.a {
}
#u115_text.a {
}
#u115 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u121.a {
}
#u121_img.a {
}
#u121.a {
}
#u121_text.a {
}
#u121 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u122.a {
}
#u122_img.a {
}
#u122.a {
}
#u122_text.a {
}
#u122 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u125.a {
  height:46px;
}
#u125_img.a {
  height:46px;
}
#u125.a {
  height:46px;
}
#u125_text.a {
}
#u125 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u126.a {
}
#u126_img.a {
}
#u126.a {
}
#u126_text.a {
}
#u126 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u131.a {
}
#u131_img.a {
}
#u131.a {
}
#u131_text.a {
}
#u131 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u132.a {
}
#u132_img.a {
}
#u132.a {
}
#u132_text.a {
}
#u132 .text.a {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u135.a {
  height:46px;
}
#u135_img.a {
  height:46px;
}
#u135.a {
  height:46px;
}
#u135_text.a {
}
#u135 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u136.a {
}
#u136_img.a {
}
#u136.a {
}
#u136_text.a {
}
#u136 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u138.a {
  height:45px;
}
#u138_img.a {
  height:45px;
}
#u138.a {
  height:45px;
}
#u138_text.a {
}
#u138 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u139.a {
}
#u139_img.a {
}
#u139.a {
}
#u139_text.a {
}
#u139 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u75_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75_state2.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75_state3.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75_state4.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141.a {
}
#u141_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.364705882352941);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141.a {
}
#u141_text.a {
}
#u141 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u142.a {
}
#u142_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:574px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142.a {
}
#u142_text.a {
}
#u142 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u143.a {
}
#u143_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u143.a {
}
#u143_text.a {
}
#u143 .text.a {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u144.a {
}
#u144_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u144.a {
}
#u144_text.a {
}
#u144 .text.a {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u145.a {
}
#u145_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u145.a {
}
#u145_text.a {
}
#u145 .text.a {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u146.a {
}
#u146_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u146.a {
}
#u146_text.a {
}
#u146 .text.a {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u147.a {
}
#u147_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u147.a {
}
#u147_text.a {
}
#u147 .text.a {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u148.a {
}
#u148_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u148.a {
}
#u148_text.a {
}
#u148 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u75.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
}
#u77.b {
}
#u77_img.b {
}
#u77.b {
}
#u77_text.b {
}
#u77 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u78.b {
}
#u78_img.b {
}
#u78.b {
}
#u78_text.b {
}
#u78 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u81.b {
}
#u81_img.b {
}
#u81.b {
}
#u81_text.b {
}
#u81 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u82.b {
}
#u82_img.b {
}
#u82.b {
}
#u82_text.b {
}
#u82 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u84.b {
}
#u84_img.b {
}
#u84.b {
}
#u84_text.b {
}
#u84 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u85.b {
}
#u85_img.b {
}
#u85.b {
}
#u85_text.b {
}
#u85 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u90.b {
}
#u90_img.b {
}
#u90.b {
}
#u90_text.b {
}
#u90 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u91.b {
}
#u91_img.b {
}
#u91.b {
}
#u91_text.b {
}
#u91 .text.b {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u94.b {
}
#u94_img.b {
}
#u94.b {
}
#u94_text.b {
}
#u94 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u95.b {
}
#u95_img.b {
}
#u95.b {
}
#u95_text.b {
}
#u95 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u97.b {
}
#u97_img.b {
}
#u97.b {
}
#u97_text.b {
}
#u97 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u98.b {
}
#u98_img.b {
}
#u98.b {
}
#u98_text.b {
}
#u98 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u101.b {
}
#u101_img.b {
}
#u101.b {
}
#u101_text.b {
}
#u101 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u102.b {
}
#u102_img.b {
}
#u102.b {
}
#u102_text.b {
}
#u102 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u107.b {
}
#u107_img.b {
}
#u107.b {
}
#u107_text.b {
}
#u107 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u108.b {
}
#u108_img.b {
}
#u108.b {
}
#u108_text.b {
}
#u108 .text.b {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u111.b {
}
#u111_img.b {
}
#u111.b {
}
#u111_text.b {
}
#u111 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u112.b {
}
#u112_img.b {
}
#u112.b {
}
#u112_text.b {
}
#u112 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u114.b {
}
#u114_img.b {
}
#u114.b {
}
#u114_text.b {
}
#u114 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u115.b {
}
#u115_img.b {
}
#u115.b {
}
#u115_text.b {
}
#u115 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u121.b {
}
#u121_img.b {
}
#u121.b {
}
#u121_text.b {
}
#u121 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u122.b {
}
#u122_img.b {
}
#u122.b {
}
#u122_text.b {
}
#u122 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u125.b {
}
#u125_img.b {
}
#u125.b {
}
#u125_text.b {
}
#u125 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u126.b {
}
#u126_img.b {
}
#u126.b {
}
#u126_text.b {
}
#u126 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u131.b {
}
#u131_img.b {
}
#u131.b {
}
#u131_text.b {
}
#u131 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u132.b {
}
#u132_img.b {
}
#u132.b {
}
#u132_text.b {
}
#u132 .text.b {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u135.b {
}
#u135_img.b {
}
#u135.b {
}
#u135_text.b {
}
#u135 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u136.b {
}
#u136_img.b {
}
#u136.b {
}
#u136_text.b {
}
#u136 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u138.b {
}
#u138_img.b {
}
#u138.b {
}
#u138_text.b {
}
#u138 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u139.b {
}
#u139_img.b {
}
#u139.b {
}
#u139_text.b {
}
#u139 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u75_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75_state1.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75_state2.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75_state3.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75_state4.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141.b {
  width:374px;
}
#u141_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:810px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.364705882352941);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141.b {
  width:374px;
}
#u141_text.b {
}
#u141 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u142.b {
  top:31px;
  height:541px;
}
#u142_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:541px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142.b {
  top:31px;
  height:541px;
}
#u142_text.b {
}
#u142 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u143.b {
}
#u143_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u143.b {
}
#u143_text.b {
}
#u143 .text.b {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u144.b {
}
#u144_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u144.b {
}
#u144_text.b {
}
#u144 .text.b {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u145.b {
}
#u145_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u145.b {
}
#u145_text.b {
}
#u145 .text.b {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u146.b {
}
#u146_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u146.b {
}
#u146_text.b {
}
#u146 .text.b {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u147.b {
}
#u147_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u147.b {
}
#u147_text.b {
}
#u147 .text.b {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u148.b {
  left:63px;
  top:67px;
}
#u148_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u148.b {
  left:63px;
  top:67px;
}
#u148_text.b {
}
#u148 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
