body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
}
#u85_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:57px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:31px;
  width:214px;
  height:57px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:31px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u88 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u85_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:65px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:97px;
  width:229px;
  height:65px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:96px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:57px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:31px;
  width:214px;
  height:57px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:31px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u95 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u85_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:61px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:179px;
  width:214px;
  height:61px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:179px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:65px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:97px;
  width:229px;
  height:65px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:96px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:57px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:31px;
  width:214px;
  height:57px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:31px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u108 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u85_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:67px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:253px;
  width:229px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:252px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:61px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:179px;
  width:214px;
  height:61px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:179px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:65px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:97px;
  width:229px;
  height:65px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:96px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:57px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:31px;
  width:214px;
  height:57px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:31px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u125 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u85_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:95px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:342px;
  width:214px;
  height:95px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:342px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u132 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:67px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:253px;
  width:229px;
  height:67px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:252px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:61px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:179px;
  width:214px;
  height:61px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:179px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:65px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:97px;
  width:229px;
  height:65px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u145 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:96px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:6px 6px 8px 8px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:57px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:31px;
  width:214px;
  height:57px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u148 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:31px;
  width:39px;
  height:39px;
  display:flex;
  text-align:left;
}
#u149 .text {
  position:absolute;
  align-self:flex-start;
  padding:6px 8px 6px 8px;
  box-sizing:border-box;
  width:100%;
}
#u149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:810px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.364705882352941);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:810px;
  display:flex;
}
#u151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:574px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:80px;
  width:280px;
  height:574px;
  display:flex;
}
#u152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:196px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u153 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:261px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u154 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:327px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u155 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:392px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u156 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:457px;
  width:176px;
  height:40px;
  display:flex;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u157 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:120px;
  width:257px;
  height:28px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u158 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u85.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
}
#u87.a {
  height:45px;
}
#u87_img.a {
  height:45px;
}
#u87.a {
  height:45px;
}
#u87_text.a {
}
#u87 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u88.a {
}
#u88_img.a {
}
#u88.a {
}
#u88_text.a {
}
#u88 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u91.a {
  height:46px;
}
#u91_img.a {
  height:46px;
}
#u91.a {
  height:46px;
}
#u91_text.a {
}
#u91 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u92.a {
}
#u92_img.a {
}
#u92.a {
}
#u92_text.a {
}
#u92 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u94.a {
  height:45px;
}
#u94_img.a {
  height:45px;
}
#u94.a {
  height:45px;
}
#u94_text.a {
}
#u94 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u95.a {
}
#u95_img.a {
}
#u95.a {
}
#u95_text.a {
}
#u95 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u100.a {
}
#u100_img.a {
}
#u100.a {
}
#u100_text.a {
}
#u100 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u101.a {
}
#u101_img.a {
}
#u101.a {
}
#u101_text.a {
}
#u101 .text.a {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u104.a {
  height:46px;
}
#u104_img.a {
  height:46px;
}
#u104.a {
  height:46px;
}
#u104_text.a {
}
#u104 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u105.a {
}
#u105_img.a {
}
#u105.a {
}
#u105_text.a {
}
#u105 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u107.a {
  height:45px;
}
#u107_img.a {
  height:45px;
}
#u107.a {
  height:45px;
}
#u107_text.a {
}
#u107 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u108.a {
}
#u108_img.a {
}
#u108.a {
}
#u108_text.a {
}
#u108 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u111.a {
  height:46px;
}
#u111_img.a {
  height:46px;
}
#u111.a {
  height:46px;
}
#u111_text.a {
}
#u111 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u112.a {
}
#u112_img.a {
}
#u112.a {
}
#u112_text.a {
}
#u112 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u117.a {
}
#u117_img.a {
}
#u117.a {
}
#u117_text.a {
}
#u117 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u118.a {
}
#u118_img.a {
}
#u118.a {
}
#u118_text.a {
}
#u118 .text.a {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u121.a {
  height:46px;
}
#u121_img.a {
  height:46px;
}
#u121.a {
  height:46px;
}
#u121_text.a {
}
#u121 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u122.a {
}
#u122_img.a {
}
#u122.a {
}
#u122_text.a {
}
#u122 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u124.a {
  height:45px;
}
#u124_img.a {
  height:45px;
}
#u124.a {
  height:45px;
}
#u124_text.a {
}
#u124 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u125.a {
}
#u125_img.a {
}
#u125.a {
}
#u125_text.a {
}
#u125 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u131.a {
}
#u131_img.a {
}
#u131.a {
}
#u131_text.a {
}
#u131 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u132.a {
}
#u132_img.a {
}
#u132.a {
}
#u132_text.a {
}
#u132 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u135.a {
  height:46px;
}
#u135_img.a {
  height:46px;
}
#u135.a {
  height:46px;
}
#u135_text.a {
}
#u135 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u136.a {
}
#u136_img.a {
}
#u136.a {
}
#u136_text.a {
}
#u136 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u141.a {
}
#u141_img.a {
}
#u141.a {
}
#u141_text.a {
}
#u141 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u142.a {
}
#u142_img.a {
}
#u142.a {
}
#u142_text.a {
}
#u142 .text.a {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u145.a {
  height:46px;
}
#u145_img.a {
  height:46px;
}
#u145.a {
  height:46px;
}
#u145_text.a {
}
#u145 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u146.a {
}
#u146_img.a {
}
#u146.a {
}
#u146_text.a {
}
#u146 .text.a {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u148.a {
  height:45px;
}
#u148_img.a {
  height:45px;
}
#u148.a {
  height:45px;
}
#u148_text.a {
}
#u148 .text.a {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u149.a {
}
#u149_img.a {
}
#u149.a {
}
#u149_text.a {
}
#u149 .text.a {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u85_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85_state2.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85_state3.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85_state4.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151.a {
}
#u151_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:810px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.364705882352941);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151.a {
}
#u151_text.a {
}
#u151 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u152.a {
}
#u152_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:574px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152.a {
}
#u152_text.a {
}
#u152 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u153.a {
}
#u153_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u153.a {
}
#u153_text.a {
}
#u153 .text.a {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u154.a {
}
#u154_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u154.a {
}
#u154_text.a {
}
#u154 .text.a {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u155.a {
}
#u155_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u155.a {
}
#u155_text.a {
}
#u155 .text.a {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u156.a {
}
#u156_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u156.a {
}
#u156_text.a {
}
#u156 .text.a {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u157.a {
}
#u157_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u157.a {
}
#u157_text.a {
}
#u157 .text.a {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u158.a {
}
#u158_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u158.a {
}
#u158_text.a {
}
#u158 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u85.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
}
#u87.b {
}
#u87_img.b {
}
#u87.b {
}
#u87_text.b {
}
#u87 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u88.b {
}
#u88_img.b {
}
#u88.b {
}
#u88_text.b {
}
#u88 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u91.b {
}
#u91_img.b {
}
#u91.b {
}
#u91_text.b {
}
#u91 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u92.b {
}
#u92_img.b {
}
#u92.b {
}
#u92_text.b {
}
#u92 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u94.b {
}
#u94_img.b {
}
#u94.b {
}
#u94_text.b {
}
#u94 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u95.b {
}
#u95_img.b {
}
#u95.b {
}
#u95_text.b {
}
#u95 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u100.b {
}
#u100_img.b {
}
#u100.b {
}
#u100_text.b {
}
#u100 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u101.b {
}
#u101_img.b {
}
#u101.b {
}
#u101_text.b {
}
#u101 .text.b {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u104.b {
}
#u104_img.b {
}
#u104.b {
}
#u104_text.b {
}
#u104 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u105.b {
}
#u105_img.b {
}
#u105.b {
}
#u105_text.b {
}
#u105 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u107.b {
}
#u107_img.b {
}
#u107.b {
}
#u107_text.b {
}
#u107 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u108.b {
}
#u108_img.b {
}
#u108.b {
}
#u108_text.b {
}
#u108 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u111.b {
}
#u111_img.b {
}
#u111.b {
}
#u111_text.b {
}
#u111 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u112.b {
}
#u112_img.b {
}
#u112.b {
}
#u112_text.b {
}
#u112 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u117.b {
}
#u117_img.b {
}
#u117.b {
}
#u117_text.b {
}
#u117 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u118.b {
}
#u118_img.b {
}
#u118.b {
}
#u118_text.b {
}
#u118 .text.b {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u121.b {
}
#u121_img.b {
}
#u121.b {
}
#u121_text.b {
}
#u121 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u122.b {
}
#u122_img.b {
}
#u122.b {
}
#u122_text.b {
}
#u122 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u124.b {
}
#u124_img.b {
}
#u124.b {
}
#u124_text.b {
}
#u124 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u125.b {
}
#u125_img.b {
}
#u125.b {
}
#u125_text.b {
}
#u125 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u131.b {
}
#u131_img.b {
}
#u131.b {
}
#u131_text.b {
}
#u131 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u132.b {
}
#u132_img.b {
}
#u132.b {
}
#u132_text.b {
}
#u132 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u135.b {
}
#u135_img.b {
}
#u135.b {
}
#u135_text.b {
}
#u135 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u136.b {
}
#u136_img.b {
}
#u136.b {
}
#u136_text.b {
}
#u136 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u141.b {
}
#u141_img.b {
}
#u141.b {
}
#u141_text.b {
}
#u141 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u142.b {
}
#u142_img.b {
}
#u142.b {
}
#u142_text.b {
}
#u142 .text.b {
  align-self:center;
  padding:6px 8px 6px 8px;
}
#u145.b {
}
#u145_img.b {
}
#u145.b {
}
#u145_text.b {
}
#u145 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u146.b {
}
#u146_img.b {
}
#u146.b {
}
#u146_text.b {
}
#u146 .text.b {
  align-self:center;
  padding:6px 6px 8px 8px;
}
#u148.b {
}
#u148_img.b {
}
#u148.b {
}
#u148_text.b {
}
#u148 .text.b {
  align-self:center;
  padding:8px 16px 8px 16px;
}
#u149.b {
}
#u149_img.b {
}
#u149.b {
}
#u149_text.b {
}
#u149 .text.b {
  align-self:flex-start;
  padding:6px 8px 6px 8px;
}
#u85_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85_state1.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85_state2.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85_state3.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85_state4.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151.b {
}
#u151_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:810px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.364705882352941);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u151.b {
}
#u151_text.b {
}
#u151 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u152.b {
  top:31px;
  height:541px;
}
#u152_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:541px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:26px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152.b {
  top:31px;
  height:541px;
}
#u152_text.b {
}
#u152 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u153.b {
}
#u153_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:24px;
}
#u153.b {
}
#u153_text.b {
}
#u153 .text.b {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u154.b {
}
#u154_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u154.b {
}
#u154_text.b {
}
#u154 .text.b {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u155.b {
}
#u155_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u155.b {
}
#u155_text.b {
}
#u155 .text.b {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u156.b {
}
#u156_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u156.b {
}
#u156_text.b {
}
#u156 .text.b {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u157.b {
}
#u157_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  line-height:24px;
}
#u157.b {
}
#u157_text.b {
}
#u157 .text.b {
  align-self:center;
  padding:0px 16px 0px 16px;
}
#u158.b {
  left:63px;
  top:67px;
}
#u158_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 255, 255, 0.847058823529412);
  line-height:28px;
}
#u158.b {
  left:63px;
  top:67px;
}
#u158_text.b {
}
#u158 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
