body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:646px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-13px;
  width:1366px;
  height:646px;
  display:flex;
}
#u449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:674px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:633px;
  width:1412px;
  height:674px;
  display:flex;
}
#u450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1459px;
  height:618px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1318px;
  width:1459px;
  height:618px;
  display:flex;
}
#u451 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u449.a {
}
#u449_img.a {
}
#u449.a {
}
#u449_text.a {
}
#u449 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u450.a {
}
#u450_img.a {
}
#u450.a {
}
#u450_text.a {
}
#u450 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u451.a {
}
#u451_img.a {
}
#u451.a {
}
#u451_text.a {
}
#u451 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u449.b {
}
#u449_img.b {
}
#u449.b {
}
#u449_text.b {
}
#u449 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u450.b {
}
#u450_img.b {
}
#u450.b {
}
#u450_text.b {
}
#u450 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u451.b {
}
#u451_img.b {
}
#u451.b {
}
#u451_text.b {
}
#u451 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
