body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  background:inherit;
  background-color:rgba(64, 168, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  display:flex;
}
#u863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
}
#u864_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:282px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:223px;
  width:209px;
  height:282px;
  display:flex;
}
#u865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u864_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u864_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:282px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:223px;
  width:209px;
  height:282px;
  display:flex;
}
#u866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:134px;
  width:210px;
  height:57px;
  display:flex;
}
#u869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:140px;
  width:191px;
  height:49px;
  display:flex;
  font-size:13px;
}
#u870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u864_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u864_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:282px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:223px;
  width:209px;
  height:282px;
  display:flex;
}
#u871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:134px;
  width:210px;
  height:57px;
  display:flex;
}
#u874 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:142px;
  width:191px;
  height:49px;
  display:flex;
  font-size:13px;
}
#u875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 240, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 173, 210, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F5317F;
  text-align:left;
  line-height:20px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:283px;
  width:74px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F5317F;
  text-align:left;
  line-height:20px;
}
#u876 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u876_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:213px;
  width:64px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FA541C;
  text-align:left;
  line-height:20px;
}
#u877 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u877_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 255, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(183, 235, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#52C41A;
  text-align:left;
  line-height:20px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:293px;
  width:88px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#52C41A;
  text-align:left;
  line-height:20px;
}
#u878 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u878_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 255, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 232, 222, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:354px;
  width:86px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u879 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(145, 213, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
  text-align:left;
  line-height:20px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:244px;
  width:92px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
  text-align:left;
  line-height:20px;
}
#u880 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u880_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(249, 240, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 173, 247, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#722ED1;
  text-align:left;
  line-height:20px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:244px;
  width:43px;
  height:20px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#722ED1;
  text-align:left;
  line-height:20px;
}
#u881 .text {
  position:absolute;
  align-self:center;
  padding:0px 8px 0px 8px;
  box-sizing:border-box;
  width:100%;
}
#u881_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u864_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u864_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:134px;
  width:210px;
  height:57px;
  display:flex;
}
#u884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:148px;
  width:191px;
  height:34px;
  display:flex;
  font-size:13px;
}
#u885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:29px;
  width:70px;
  height:70px;
  display:flex;
}
#u886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:29px;
  width:70px;
  height:70px;
  display:flex;
}
#u887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:29px;
  width:70px;
  height:70px;
  display:flex;
}
#u888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:71px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:29px;
  width:72px;
  height:71px;
  display:flex;
}
#u889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:224px;
  width:70px;
  height:70px;
  display:flex;
}
#u890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:71px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:224px;
  width:72px;
  height:71px;
  display:flex;
}
#u891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:224px;
  width:70px;
  height:70px;
  display:flex;
}
#u892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:224px;
  width:70px;
  height:70px;
  display:flex;
}
#u893 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:370px;
  width:70px;
  height:70px;
  display:flex;
}
#u894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:370px;
  width:70px;
  height:70px;
  display:flex;
}
#u895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:71px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:370px;
  width:72px;
  height:71px;
  display:flex;
}
#u896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:370px;
  width:70px;
  height:70px;
  display:flex;
}
#u897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:71px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:512px;
  width:72px;
  height:71px;
  display:flex;
}
#u898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:512px;
  width:70px;
  height:70px;
  display:flex;
}
#u899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:512px;
  width:70px;
  height:70px;
  display:flex;
}
#u900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:512px;
  width:70px;
  height:70px;
  display:flex;
}
#u901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:649px;
  width:70px;
  height:70px;
  display:flex;
}
#u902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:649px;
  width:70px;
  height:70px;
  display:flex;
}
#u903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:71px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:649px;
  width:72px;
  height:71px;
  display:flex;
}
#u904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:649px;
  width:70px;
  height:70px;
  display:flex;
}
#u905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:98px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:210px;
  width:98px;
  height:98px;
  display:flex;
}
#u906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#95F204;
  line-height:22px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:323px;
  width:207px;
  height:22px;
  display:flex;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#95F204;
  line-height:22px;
}
#u907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:206px;
  width:16px;
  height:16px;
  display:flex;
}
#u908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:187px;
  width:25px;
  height:24px;
  display:flex;
}
#u909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:111px;
  width:94px;
  height:94px;
  display:flex;
}
#u910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:169px;
  width:58px;
  height:22px;
  display:flex;
}
#u911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:43px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:115px;
  width:55px;
  height:43px;
  display:flex;
}
#u912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u864_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u864_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u863.a {
}
#u863_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  background:inherit;
  background-color:rgba(64, 168, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863.a {
}
#u863_text.a {
}
#u863 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u864.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
}
#u865.a {
}
#u865_img.a {
}
#u865.a {
}
#u865_text.a {
}
#u865 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u866.a {
}
#u866_img.a {
}
#u866.a {
}
#u866_text.a {
}
#u866 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u869.a {
}
#u869_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869.a {
}
#u869_text.a {
}
#u869 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u870.a {
}
#u870_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u870.a {
}
#u870_text.a {
}
#u870 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u871.a {
}
#u871_img.a {
}
#u871.a {
}
#u871_text.a {
}
#u871 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u874.a {
}
#u874_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874.a {
}
#u874_text.a {
}
#u874 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u875.a {
}
#u875_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u875.a {
}
#u875_text.a {
}
#u875 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u876.a {
}
#u876_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 240, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 173, 210, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F5317F;
  text-align:left;
  line-height:20px;
}
#u876.a {
}
#u876_text.a {
}
#u876 .text.a {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u877.a {
}
#u877_img.a {
}
#u877.a {
}
#u877_text.a {
}
#u877 .text.a {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u878.a {
}
#u878_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 255, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(183, 235, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#52C41A;
  text-align:left;
  line-height:20px;
}
#u878.a {
}
#u878_text.a {
}
#u878 .text.a {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u879.a {
}
#u879_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 255, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 232, 222, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u879.a {
}
#u879_text.a {
}
#u879 .text.a {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u880.a {
}
#u880_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(145, 213, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
  text-align:left;
  line-height:20px;
}
#u880.a {
}
#u880_text.a {
}
#u880 .text.a {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u881.a {
}
#u881_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(249, 240, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 173, 247, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#722ED1;
  text-align:left;
  line-height:20px;
}
#u881.a {
}
#u881_text.a {
}
#u881 .text.a {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u884.a {
}
#u884_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884.a {
}
#u884_text.a {
}
#u884 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u885.a {
}
#u885_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u885.a {
}
#u885_text.a {
}
#u885 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u886.a {
}
#u886_img.a {
}
#u886.a {
}
#u886_text.a {
}
#u886 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u887.a {
}
#u887_img.a {
}
#u887.a {
}
#u887_text.a {
}
#u887 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u888.a {
}
#u888_img.a {
}
#u888.a {
}
#u888_text.a {
}
#u888 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u889.a {
}
#u889_img.a {
}
#u889.a {
}
#u889_text.a {
}
#u889 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u890.a {
}
#u890_img.a {
}
#u890.a {
}
#u890_text.a {
}
#u890 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u891.a {
}
#u891_img.a {
}
#u891.a {
}
#u891_text.a {
}
#u891 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u892.a {
}
#u892_img.a {
}
#u892.a {
}
#u892_text.a {
}
#u892 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u893.a {
}
#u893_img.a {
}
#u893.a {
}
#u893_text.a {
}
#u893 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u894.a {
}
#u894_img.a {
}
#u894.a {
}
#u894_text.a {
}
#u894 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u895.a {
}
#u895_img.a {
}
#u895.a {
}
#u895_text.a {
}
#u895 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u896.a {
}
#u896_img.a {
}
#u896.a {
}
#u896_text.a {
}
#u896 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u897.a {
}
#u897_img.a {
}
#u897.a {
}
#u897_text.a {
}
#u897 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u898.a {
}
#u898_img.a {
}
#u898.a {
}
#u898_text.a {
}
#u898 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u899.a {
}
#u899_img.a {
}
#u899.a {
}
#u899_text.a {
}
#u899 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u900.a {
}
#u900_img.a {
}
#u900.a {
}
#u900_text.a {
}
#u900 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u901.a {
}
#u901_img.a {
}
#u901.a {
}
#u901_text.a {
}
#u901 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u902.a {
}
#u902_img.a {
}
#u902.a {
}
#u902_text.a {
}
#u902 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u903.a {
}
#u903_img.a {
}
#u903.a {
}
#u903_text.a {
}
#u903 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u904.a {
}
#u904_img.a {
}
#u904.a {
}
#u904_text.a {
}
#u904 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u905.a {
}
#u905_img.a {
}
#u905.a {
}
#u905_text.a {
}
#u905 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u906.a {
}
#u906_img.a {
}
#u906.a {
}
#u906_text.a {
}
#u906 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u907.a {
}
#u907_div.a {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#95F204;
  line-height:22px;
}
#u907.a {
}
#u907_text.a {
}
#u907 .text.a {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u908.a {
}
#u908_img.a {
}
#u908.a {
}
#u908_text.a {
}
#u908 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u909.a {
}
#u909_img.a {
}
#u909.a {
}
#u909_text.a {
}
#u909 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u910.a {
}
#u910_img.a {
}
#u910.a {
}
#u910_text.a {
}
#u910 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u911.a {
}
#u911_img.a {
}
#u911.a {
}
#u911_text.a {
}
#u911 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u912.a {
}
#u912_img.a {
}
#u912.a {
}
#u912_text.a {
}
#u912 .text.a {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u864_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864_state1.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864_state2.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864_state3.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864_state4.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
body.b {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u863.b {
}
#u863_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
  background:inherit;
  background-color:rgba(64, 168, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863.b {
}
#u863_text.b {
}
#u863 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u864.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:810px;
}
#u865.b {
}
#u865_img.b {
}
#u865.b {
}
#u865_text.b {
}
#u865 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u866.b {
}
#u866_img.b {
}
#u866.b {
}
#u866_text.b {
}
#u866 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u869.b {
}
#u869_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869.b {
}
#u869_text.b {
}
#u869 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u870.b {
}
#u870_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u870.b {
}
#u870_text.b {
}
#u870 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u871.b {
}
#u871_img.b {
}
#u871.b {
}
#u871_text.b {
}
#u871 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u874.b {
}
#u874_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u874.b {
}
#u874_text.b {
}
#u874 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u875.b {
}
#u875_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u875.b {
}
#u875_text.b {
}
#u875 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u876.b {
}
#u876_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 240, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 173, 210, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#F5317F;
  text-align:left;
  line-height:20px;
}
#u876.b {
}
#u876_text.b {
}
#u876 .text.b {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u877.b {
}
#u877_img.b {
}
#u877.b {
}
#u877_text.b {
}
#u877 .text.b {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u878.b {
}
#u878_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
  background:inherit;
  background-color:rgba(246, 255, 237, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(183, 235, 143, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#52C41A;
  text-align:left;
  line-height:20px;
}
#u878.b {
}
#u878_text.b {
}
#u878 .text.b {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u879.b {
}
#u879_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 255, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(135, 232, 222, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#13C2C2;
  text-align:left;
  line-height:20px;
}
#u879.b {
}
#u879_text.b {
}
#u879 .text.b {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u880.b {
}
#u880_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 247, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(145, 213, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1890FF;
  text-align:left;
  line-height:20px;
}
#u880.b {
}
#u880_text.b {
}
#u880 .text.b {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u881.b {
}
#u881_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(249, 240, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(211, 173, 247, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#722ED1;
  text-align:left;
  line-height:20px;
}
#u881.b {
}
#u881_text.b {
}
#u881 .text.b {
  align-self:center;
  padding:0px 8px 0px 8px;
}
#u884.b {
}
#u884_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u884.b {
}
#u884_text.b {
}
#u884 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u885.b {
}
#u885_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u885.b {
}
#u885_text.b {
}
#u885 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u886.b {
}
#u886_img.b {
}
#u886.b {
}
#u886_text.b {
}
#u886 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u887.b {
}
#u887_img.b {
}
#u887.b {
}
#u887_text.b {
}
#u887 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u888.b {
}
#u888_img.b {
}
#u888.b {
}
#u888_text.b {
}
#u888 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u889.b {
}
#u889_img.b {
}
#u889.b {
}
#u889_text.b {
}
#u889 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u890.b {
}
#u890_img.b {
}
#u890.b {
}
#u890_text.b {
}
#u890 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u891.b {
}
#u891_img.b {
}
#u891.b {
}
#u891_text.b {
}
#u891 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u892.b {
}
#u892_img.b {
}
#u892.b {
}
#u892_text.b {
}
#u892 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u893.b {
}
#u893_img.b {
}
#u893.b {
}
#u893_text.b {
}
#u893 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u894.b {
}
#u894_img.b {
}
#u894.b {
}
#u894_text.b {
}
#u894 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u895.b {
}
#u895_img.b {
}
#u895.b {
}
#u895_text.b {
}
#u895 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u896.b {
}
#u896_img.b {
}
#u896.b {
}
#u896_text.b {
}
#u896 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u897.b {
}
#u897_img.b {
}
#u897.b {
}
#u897_text.b {
}
#u897 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u898.b {
}
#u898_img.b {
}
#u898.b {
}
#u898_text.b {
}
#u898 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u899.b {
}
#u899_img.b {
}
#u899.b {
}
#u899_text.b {
}
#u899 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u900.b {
}
#u900_img.b {
}
#u900.b {
}
#u900_text.b {
}
#u900 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u901.b {
}
#u901_img.b {
}
#u901.b {
}
#u901_text.b {
}
#u901 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u902.b {
}
#u902_img.b {
}
#u902.b {
}
#u902_text.b {
}
#u902 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u903.b {
}
#u903_img.b {
}
#u903.b {
}
#u903_text.b {
}
#u903 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u904.b {
}
#u904_img.b {
}
#u904.b {
}
#u904_text.b {
}
#u904 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u905.b {
}
#u905_img.b {
}
#u905.b {
}
#u905_text.b {
}
#u905 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u906.b {
}
#u906_img.b {
}
#u906.b {
}
#u906_text.b {
}
#u906 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u907.b {
}
#u907_div.b {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#95F204;
  line-height:22px;
}
#u907.b {
}
#u907_text.b {
}
#u907 .text.b {
  align-self:flex-start;
  padding:0px 0px 0px 0px;
}
#u908.b {
}
#u908_img.b {
}
#u908.b {
}
#u908_text.b {
}
#u908 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u909.b {
}
#u909_img.b {
}
#u909.b {
}
#u909_text.b {
}
#u909 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u910.b {
}
#u910_img.b {
}
#u910.b {
}
#u910_text.b {
}
#u910 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u911.b {
}
#u911_img.b {
}
#u911.b {
}
#u911_text.b {
}
#u911 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u912.b {
}
#u912_img.b {
}
#u912.b {
}
#u912_text.b {
}
#u912 .text.b {
  align-self:center;
  padding:2px 2px 2px 2px;
}
#u864_state0.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864_state1.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864_state2.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864_state3.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864_state4.b {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
